.hidden {
  visibility: hidden;
}

.startLogo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* exakt in die Mitte */
  height: 400px; /* deine gewünschte Größe */
  transition: transform 1.2s ease-in-out, opacity 0.4s ease;
  z-index: 999;
}

.indexHeader {
  position: relative; /* wichtig, damit .logo absolut dazu positioniert */
  max-width: 1920px;
  display: flex;
  justify-content: flex-end; /* rechts bleibt frei */
  padding: 64px 64px 0 64px;
}

.indexHeader .logo {
  position: absolute;
  top: 64px;
  left: 64px;
  width: 48px;
  height: 48px;
}

.indexHeader .logo img {
  /*width: 100%;*/
  height: auto;
}

.indexHeaderRight span {
  margin-right: 20px;
}

.indexMain {
  max-width: 1920px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 229px);
}

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 140px;
  border-radius: 30px;
  background-color: white;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}

.loginHeadline {
  margin-bottom: 40px;
}

.signupContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 140px;
  border-radius: 30px;
  background-color: white;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}

.signupReturnArrowContainer {
  position: absolute;
  top: 72px;
  left: 72px;
  width: 32px;
  height: 32px;
  border-radius: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  cursor: pointer;
}

.signupReturnArrowContainer:hover {
  background-color: var(--bottom-gradient);
}

.signupReturnArrow:hover {
  transform: scale(1.2);
}

.indexHeadline {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-bottom: 32px;
}

.loginDivider {
  background: var(--light-blue);
  height: 3px;
  width: 164px;
  border-radius: 4px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  width: 422px;
  margin-bottom: 32px;
}

.signupFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.passwordMarginTop {
  margin-top: 20px;
}

.policyErrorMarginLeft {
  margin-left: 91px;
}

.formMailIcon {
  background-image: url("../assets/svg/mail.svg");
}

.formLockIcon {
  background-image: url("../assets/svg/lock.svg");
}

.formPersonIcon {
  background-image: url("../assets/svg/person.svg");
}

.formVisibilityIcon {
  background-image: url("../assets/svg/visibility.svg");
}

.formVisibilityOffIcon {
  background-image: url("../assets/svg/visibility_off.svg");
}

.errors {
  color: var(--form-error);
  font-size: 13px;
  visibility: hidden;
  padding-top: 2px;
  padding-bottom: 12px;
}

.actions {
  display: flex;
  gap: 40px;
}

.acceptPolicy {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-icon);
}

.acceptPolicy span {
  color: var(--light-blue);
  cursor: pointer;
}

.indexFooter {
  max-width: 1920px;
  display: flex;
  justify-content: center;
  gap: 44px;
  padding: 47px 48px 48px;
}

.legalLink {
  width: 112px;
}
