<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="../styles/standard.css" />
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="../styles/fonts.css" />
  </head>

  <body>
    <div class="header-content" id="header">
      <p class="font_400_20">Kanban Projekt Management Tool</p>
      <nav id="headerNav" class="header-nav">
        <a href="../html/help.html" class="help-link" aria-label="Help">
          <img class="helper" src="../assets/svg/help.svg" alt="Hilfe" />
        </a>

        <div id="userAvatar" class="header-avatar" title="Profil" onclick="toggleProfileMenu(event)"></div>

        <div id="guestAvatar" class="avatar-wrapper" title="Gast" onclick="toggleProfileMenu(event)">
          <img class="default" src="../assets/img/guest.png" alt="Gastprofil" />
          <img class="hover" src="../assets/img/guest-hover.png" alt="Gastprofil Hover" />
        </div>

        <div id="profileMenu" class="profile-menu" style="display: none">
          <a class="menu-item" href="../html/legalNotice.html">Legal Notice</a>
          <a class="menu-item" href="../html/privacyPolicy.html">Privacy Policy</a>
          <a class="menu-item" href="../index.html" onclick="logout()">Log Out</a>
        </div>
      </nav>
    </div>
    <!-- <script src="../scripts/logIn.js"></script> -->
    <script src="../scripts/header.js"></script>
    <script src="../scripts/logIn.js"></script>
  </body>
</html>
