<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="../styles/standard.css" />
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="../styles/fonts.css" />
  </head>
  <body>
    <div class="header-content">
      <p class="font_400_20">Kanban Projekt Management Tool</p>
      <nav class="header-nav">
        <a href="../html/help.html">
          <img class="helper" src="../assets/svg/help.svg" />
        </a>

        <div id="userAvatar" class="avatar-wrapper" title="Profil">
          <img class="default" src="../../assets/img/user.png" alt="Benutzerprofil" />
          <img class="hover" src="../../assets/img/user-hover.png" alt="Benutzerprofil Hover" />
        </div>

        <div id="guestAvatar" class="avatar-wrapper" title="Gast">
          <img class="default" src="../../assets/img/guest.png" alt="Gastprofil" />
          <img class="hover" src="../../assets/img/guest-hover.png" alt="Gastprofil Hover" />
        </div>
      </nav>
    </div>
  </body>
</html>
