<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Join</title>
    <link rel="stylesheet" href="../styles/standard.css" />
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="../styles/fonts.css" />
    <link rel="stylesheet" href="../styles/colors.css" />
  </head>

  <body>
    <aside class="sidebar">
      <div class="sb-header">
        <img class="join-logo" src="../assets/svg/join_logo_white.svg" alt="Join Logo" />
      </div>

      <ul id="internalSidebar" class="nav-list d_none">
        <li class="nav-item">
          <a class="nav-link" href="/html/summary.html">
            <span class="icon"><img src="../assets/svg/summary.svg" alt="Summary" /></span>
            <span>Summary</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/html/addTask.html">
            <span class="icon"><img src="../assets/svg/add_task.svg" alt="Add Task" /></span>
            <span>Add Task</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/html/board.html">
            <span class="icon"><img src="../assets/svg/board.svg" alt="Board" /></span>
            <span>Board</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/html/contacts.html">
            <span class="icon"><img src="../assets/svg/contacts.svg" alt="Contacts" /></span>
            <span>Contacts</span>
          </a>
        </li>
      </ul>

      <ul id="externalSidebar" class="nav-list d_none">
        <li class="nav-item">
          <a onclick="showLoginScreen()" class="nav-link" href="../index.html">
            <span class="icon"><img src="../assets/svg/login.svg" alt="Log In" /></span>
            <span>Log In</span>
          </a>
        </li>
      </ul>

      <div class="sb-footer">
        <a href="../html/privacyPolicy.html">Privacy Policy</a>
        <a href="../html/legalNotice.html">Legal notice</a>
      </div>
    </aside>
    <script src="../script.js"></script>
    <script src="../scripts/signUp.js"></script>
  </body>
</html>
