<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Join</title>
    <link rel="stylesheet" href="../styles/standard.css" />
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="../styles/fonts.css" />
  </head>

  <body>
    <aside class="sidebar">
      <div class="sb-header">
        <img class="join-logo" src="../assets/svg/join_logo.svg" alt="Join Logo" />
      </div>

      <nav>
        <ul class="nav-list">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span class="icon"><img src="../assets/svg/summary.svg" alt="Summary" /></span>
              <span class="label">Summary</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span class="icon"><img src="../assets/svg/add.svg" alt="Add Task" /></span>
              <span class="label">Add Task</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span class="icon"><img src="../assets/svg/board.svg" alt="Board" /></span>
              <span class="label">Board</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span class="icon"><img src="../assets/svg/contacts.svg" alt="Contacts" /></span>
              <span class="label">Contacts</span>
            </a>
          </li>
        </ul>
      </nav>

      <nav>
        <ul class="nav-list">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span class="icon"><img src="../assets/svg/login.svg" alt="Log In" /></span>
              <span class="label">Log In</span>
            </a>
          </li>
        </ul>
      </nav>

      <div class="sb-footer">
        <a href="../html/privacyPolicy.html">Privacy Policy</a>
        <a href="../html/legalNotice.html">Legal notice</a>
      </div>
    </aside>
  </body>
</html>
