@media (max-width: 1413px) {
  .addTaskForm {
    gap: 20px;
    padding-top: 30px;
  }

  .addTaskFooter {
    width: 927px;
  }

  .addTaskBody::-webkit-scrollbar {
    display: none;
  }
}

@media (min-width: 1211px) {
  .hideDesktop {
    display: none;
  }

  .addTaskWrapper {
    padding: 180px 16px 48px 300px;
  }
}

@media (max-height: 739px) {
  .addTaskWrapper {
    padding-top: 90px;
  }
  .heading {
    margin: 0;
  }
  .addTaskWrapper h1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .addTaskForm {
    padding-top: 4px;
  }

  .addTaskFooter {
    top: calc(100vh - 72px);
  }
}

@media (max-height: 690px) {
  .addTaskWrapper h1 {
    font-size: 47px;
  }
}

@media (max-width: 1210px) {
  .addTaskWrapper h1 {
    position: fixed;
    top: 0;
    background: var(--main-bg-color);
    width: 100%;
    padding-top: 100px;
    z-index: 4;
  }

  .divider {
    display: none;
  }

  .heading {
    margin: 0px;
  }

  .addTaskForm {
    flex-direction: column;
    overflow-y: auto;
    gap: 16px;
    padding-bottom: 42px;
    padding-top: 40px;
  }

  .hideMobile {
    display: none;
  }

  .addTaskFooter {
    justify-content: flex-end;
    width: 440px;
    position: fixed;
    top: auto;
    bottom: 0px;
    padding-top: 24px;
    padding-bottom: 24px;
    background: var(--main-bg-color);
  }

  .task-overlay-panel {
    .addTaskOverlayFooter {
      position: relative;
      bottom: 0px;
      margin-bottom: 15px;
      width: 100%;
    }

    .addTaskForm {
      padding-bottom: 40px;
    }
  }
}

@media (max-width: 850px) {
  .addTaskBody {
    display: flex;
    justify-content: center;
  }

  .addTaskWrapper {
    gap: 10px;
    padding-right: 8px;
    padding-left: 8px;
  }

  .addTaskForm {
    padding-bottom: 112px;
  }

  .addTaskFooter {
    padding-bottom: 90px;
  }
}

@media (max-width: 480px) {
  .addTaskWrapper {
    width: 100vw;
  }

  .addTaskMobile {
    width: 100%;
  }

  .inputFlexbox {
    width: 100%;
  }

  .description {
    font-size: 16px;
    width: 100% !important;
  }

  .prioDivsWrapper {
    gap: 5px;
  }

  .prioGrade {
    padding: 16px 6px;
  }

  .assignedToSearch {
    width: 300px;
    height: 24px;
    font-size: 16px;
  }

  .dropdown-selected {
    padding: 11px 21px;
  }

  .dropdown-subtasks {
    width: 100%;
  }

  .assignedToSearch::placeholder {
    font-size: 16px;
  }

  .custom-checkbox {
    font-size: 16px;
  }

  .clearBtn h6 {
    font-size: 20px;
  }

  .addTaskFooter {
    width: 100%;
    right: 8px;
  }
}

@media (max-width: 460px) {
  #subtasks {
    padding-bottom: 20px;
  }

  .addOrClear {
    gap: 11px;
  }

  .addTaskWrapper {
    gap: 10px;
  }

  #assignedToInitials {
    gap: 5px;
  }
}
