@media (max-width: 1024px) {
  .app {
    padding: 150px 16px 48px 260px;
  }

  .board {
    grid-template-columns: repeat(1, 1fr);
  }

  .dropzone {
    display: flex;
    flex-direction: row;
    gap: 10px;
    min-height: 200px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 12px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; 
    scroll-behavior: smooth;
    cursor: grab;
    padding: 12px 0;
    box-sizing: border-box;
    height: 300px;
    margin-bottom: 20px;
  }

  .column {
    scroll-snap-align: start;
    min-height: 0;
    opacity: 1;
    width: 700px;
  }

  .empty {
    height: 50px;
  }

  .btn-text {
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (max-width: 850px) {
  .heading {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .card {
    width: 252px;
    height: 263px;
    gap: 10px;
    opacity: 1;
    border-radius: 24px;
    padding: 16px;
  }

  .dropdown-subtasks {
    width: 220px !important;
  }

  .app {
    padding: 20px 16px 120px 16px;
    max-width: 100%;
  }

  .app h1 {
    font-size: 40px;
  }

  .controls {
    position: static;
    width: 100%;
    gap: 8px;
    margin-top: 52px;
    padding-top: 0;
  }

  .search {
    width: 100%;
  }

  .search::after {
    display: none;
  }

  .search svg {
    right: 8px;
  }

  .btn#openAddTask {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 40px;
    border-radius: 8px;
    justify-content: center;
    font-size: 0;
    display: inline-flex !important;
  }

  .btn#openAddTask .btn-text {
    display: none;
  }

  .btn#openAddTask .icon-add {
    width: 20px;
    height: 20px;
    display: inline-block;
  }

  .dropzone .card,
  .dropzone .task-container {
    flex: 0 0 260px;
  }
}

@media (max-width: 640px) {
  .col-head {
    font-size: 18px;
    margin-bottom: 6px;
    height: 32px;
    justify-content: space-between;
    opacity: 1;
  }
}

@media (max-width: 860px) {
  .dropzone {
    min-height: 160px;
    gap: 8px;
  }

  .task-detail {
    padding: 24px 28px 8px 28px;
    width: 330px;
    height: auto;
  }

  #taskOverlay.edit-mode .overlay-panel {
    width: 390px;
  }

  .dropzone .empty {
    padding: 10px;
    font-size: 12px;
    min-width: 200px;
  }
}

@media (max-width: 900px) {
  .board {
    grid-template-columns: 1fr;
    gap: 16px;
    margin-top: 100px;
  }

  .board-viewport {
    scroll-snap-type: x mandatory;
    overscroll-behavior-x: contain;
  }

  .column {
    scroll-snap-align: start;
    min-height: 0;
    opacity: 1;
  }
}
