@media (max-width: 768px) {
  .indexHeaderRight {
    display: none;
  }

  .indexFooter {
    justify-content: space-around;
  }

  .indexMain {
    margin-right: 12px;
    margin-left: 12px;
  }

  .mobileSignUpChoice {
    display: flex;
  }
}

@media (max-width: 590px) {
  .loginContainer,
  .signupContainer {
    padding: 32px 0;
  }

  .signupReturnArrowContainer {
    top: 40px;
  }
}

@media (max-width: 496px) {
  .startLogo {
    display: none !important;
  }

  .startLogoMobile,
  .startLogoMobileBg {
    display: block;
  }

  h1 {
    font-size: 47px;
  }

  .loginDivider {
    width: 88px;
  }

  .actions {
    width: 180px;
    flex-direction: column;
    gap: 21px;
  }

  .signupFormContainer {
    gap: 0;
  }

  .logo {
    display: none;
  }

  .mobileLogo {
    display: block;
  }

  .signupReturnArrowContainer {
    left: 16px;
  }

  .signupSuccess {
    font-size: 14px;
    width: 259px;
    height: 60px;
  }

  .signupOverlay.show .signupSuccess {
    transform: translateY(25vh);
  }
}

@media (max-height: 820px) {
  .logo {
    display: none;
  }

  .mobileLogo {
    display: block;
    top: 18px;
    left: 18px;
  }

  .mobileLogo img {
    width: 40px;
  }

  .inputGroup {
    padding: 0px 16px;
  }

  .signupContainer {
    padding: 12px 0;
  }

  .signupReturnArrowContainer {
    top: 21px;
  }
}

@media (max-height: 729px) {
  .loginContainer {
    padding: 20px 0;
  }
}
