.dropdown-subtasks {
  position: relative;
  display: flex;
  background-color: white;
  padding: 0px;
  height: 48px;
  border: 1px solid var(--color-placeholder);
  border-radius: 10px;
}

.dropdown-subtasks:focus-within {
  border-color: var(--light-blue);
}

#subtasks {
  padding-bottom: 12px;
  transition: margin-top 0.3s ease, padding-bottom 0.3s ease;
}

.input-subtask {
  border: none;
  outline: none;
}

.subtaskItem::before {
  content: "•";
  margin-right: 0.5em;
}

.subtask-images-container {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-right: 8px;
}

.subtask-images-container img {
  cursor: pointer;
  border-radius: 50%;
  padding: 4px;
  transition: background 0.2s ease;
}

.divider1 {
  width: 1px;
  height: 24px;
  background-color: var(--subtask-divider);
}

.subtask-images-container img:hover {
  background-color: #eee;
}

.addedSubtaskWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 5px;
}

.subtaskItem {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 10px;
  border-radius: 8px;
  cursor: pointer;
}

.subtaskItem:hover {
  background-color: var(--empty-category);
}

.subtaskTitle {
  flex: 1;
  margin-right: 10px;
  word-break: break-word;
}

.subtaskActions {
  display: none;
  align-items: center;
  gap: 4px;
}

.subtaskItem:hover .subtaskActions {
  display: flex;
}

.addedSubtaskWrapper li:focus-within {
  border-radius: 0;
  border-bottom: 1px solid var(--light-blue);
}

li:focus-within::before {
  content: "";
}

.subtaskActions img {
  transition: background 0.2s ease;
  cursor: pointer;
}

.subtaskActions img:hover {
  border-radius: 50%;
  background-color: #eee;
}

.addedSubtaskWrapper {
  max-height: calc(4 * 28px);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #aaa #f1f1f1;
  padding-right: 4px;
}

.addedSubtaskWrapper::-webkit-scrollbar {
  width: 6px;
}
.addedSubtaskWrapper::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 10px;
}
.addedSubtaskWrapper::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
