body {
  background-color: var(--main-bg-color);
}

.summaryText {
  color: var(--main-color);
}

.summarySection {
  max-width: 1920px;
  padding-top: 150px;
  padding-left: 380px; /* initial spacing for sidebar */
  transition: padding-left 0.3s ease; /* smooth shrink */
}

.summaryContent {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.summaryHeadline {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-bottom: 40px;
}

.summaryInfoTiles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  flex: 1 1 560px;
  max-width: 560px;
  min-width: 300px;
}

.summaryBox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  gap: 20px;
  background: white;
  height: 168px;
  width: 264px;
  border-radius: 30px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 100ms ease-in-out;
}

.summaryTasks {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.summaryToDo {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.summaryBox:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transform: scale(1.02);
  background-color: var(--main-color);
  color: white;
}

.summaryBox:hover .summaryText {
  color: white;
}

.summaryBox:active {
  color: black;
  background: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  .editIcon {
    content: url("../assets/svg/edit.svg");
  }
  .checkIcon {
    content: url("../assets/svg/check_2.svg");
  }

  .summaryText {
    color: black;
  }

  .smmarySvgContainer {
    background-color: var(--main-color);
  }
}

.editIcon {
  content: url("../assets/svg/edit.svg");
}

.checkIcon {
  content: url("../assets/svg/check_2.svg");
}

.summaryBox:hover .editIcon {
  content: url("../assets/svg/edit_black.svg");
}

.summaryBox:hover .checkIcon {
  content: url("../assets/svg/check_2_black.svg");
}

.summaryBox:hover .summarySvgContainer {
  background-color: white;
}

.summaryUrgencyBox {
  justify-content: space-between;
  width: 560px;
}

.urgencyBox {
  display: flex;
  align-items: center;
  width: 234px;
  justify-content: center;
  gap: 24px;
}

.summaryDeadline {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 50%;
  padding-left: 18px;
}

.taskBox {
  flex-direction: column;
  width: 168px;
}

.summarySvgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 69px;
  height: 69px;
  background-color: var(--main-color);
}

.urgencySvgContainer {
  background-color: var(--button-urgent);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.summaryCount {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
}

.summaryGreetingContainer {
  display: flex;
  flex-direction: column;
}

.divider {
  background-color: var(--light-blue);
  width: 3px;
  height: 59px;
  border-radius: 10px;
}

.divider_mobile {
  background: var(--light-blue);
  height: 3px;
  width: 90px;
  border-radius: 10px;
}

.dividerUrgency {
  height: 100px;
  width: 2px;
  background: var(--color-placeholder);
}

/* -----------------greeting and Name----------------------------------- */

.sumGreetingContainer {
  display: flex;
  flex-direction: column;
  flex: 1 0 364px;
  min-width: 150px;
  margin-left: 60px;
  transition: margin-left 0.3s ease; /* smooth shrink */
}

.sumGreeting span {
  font-size: 47px;
  font-weight: 500;
}

.sumName {
  font-weight: 700;
  color: var(--light-blue);
}

@media (max-width: 1480px) {
  .sumGreetingContainer {
    margin-left: 6px;
  }
}

@media (max-width: 1400px) {
  .summarySection {
    padding-left: 300px; /* reduce padding */
  }
}

@media (max-width: 1280px) {
  .summarySection {
    padding-left: 280px;
  }

  .sumGreetingContainer {
    display: none;
  }
}

@media (max-width: 960px) {
  .summaryHeadline h1 {
    font-size: 47px;
  }
}

@media (min-width: 860px) {
  .divider_mobile {
    display: none;
  }
}

@media (max-width: 860px) {
  .summaryHeadline {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .divider {
    display: none;
  }
}

@media (max-width: 850px) {
  main {
    display: flex;
    justify-content: center;
  }
  .summarySection {
    padding-top: 120px;
    padding-left: 0;
  }

  .summaryInfoTiles {
    flex: 1 1 100%;
    max-width: 560px;
  }
}

@media (max-width: 590px) {
  .summaryInfoTiles {
    max-width: 396px;
    gap: 24px;
  }
  .summaryBox {
    gap: 10px;
    height: 110px;
    width: 186px;
    border-radius: 20px;
  }

  .summaryBox img {
    height: 20px;
  }

  .summarySvgContainer,
  .urgencySvgContainer {
    height: 40px;
    width: 40px;
  }

  .summaryCount {
    gap: 0;
  }

  .summaryUrgencyBox {
    width: 396px;
  }

  .urgencyBox {
    width: 186px;
    gap: 18px;
  }

  .dividerUrgency {
    height: 70px;
  }

  .summaryDeadline {
    width: 60%;
    padding-right: 0;
  }

  .urgencyDate {
    font-size: 16px !important;
  }

  .taskBox {
    width: 116px;
    gap: 0px;
  }
}

@media (max-width: 420px) {
  main {
    font-size: 12px !important;
  }

  .summaryHeadline {
    gap: 10px;
  }

  .summaryInfoTiles {
    max-width: 296px;
    gap: 18px;
  }

  .summaryBox {
    height: 86px;
    width: 144px;
  }

  .summaryUrgencyBox {
    width: 296px;
  }

  .urgencyBox {
    width: 144px;
    gap: 12px;
  }

  .dividerUrgency {
    height: 56px;
  }

  .summaryDeadline {
    gap: 0;
    width: 60%;
    padding-right: 0;
  }

  .deadlineText {
    font-size: 13px;
  }

  .urgencyDate {
    font-size: 14px !important;
  }

  .taskBox {
    width: 95px;
  }
}
